.project-card{
background-color: rgb(255, 255, 255);
border: transparent;
width:100%;
height:30px;
font-size: large;
border-bottom: 1px solid rgb(173, 172, 172);
}
.project-card:hover{
    cursor:pointer;
    background-color: rgb(165, 169, 171);
}
.translator-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    font-size: large;
}
.portrait-client{
    width:120px;
    height:120px;
    background-image: url("../../public/profile-pic-client.jpg");
    background-size: cover;
}

.portrait-translator{
    width:120px;
    height:120px;
    background-image: url("../../public/profile-pic-translator.png");
    background-size: cover;
}
.profile-box{
    align-items: center;
}

.proj-render{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.proj-render-text{
    font-size: larger;
}

.create_proj_button{
    width:100px;
    height:50px;
    border-radius: 20px;
    border: transparent;
    background-color: green;
    color:white;
}

.create_proj_button:hover{
    background-color: lightgreen;
    cursor: pointer;
}